<h1>Address</h1>

<hr />

<% if @addresses.any? %>
 <ul>
 	<% @addresses.each do |ad|%> 
 		<li>
 			<%= link_to ad.city, address_path(ad) %>
 		</li>
 	<%end%>
 </ul>
 <%else%>
 	<h3>No address has been created yet!</h3>
 <%end%>



